/**
 * coin1 animation style
 */
.coin1-style {
  position: absolute;
  top: 0.17rem;
  left: 0.59rem;
  width: 0.08rem;
  height: 0.02rem;
  background-image: url("./images/img_0.png");
  background-size: 0.08rem 0.02rem;
  -webkit-transform-origin: 0.04rem 0.01rem;
          transform-origin: 0.04rem 0.01rem;
  -webkit-animation: coin1-ani 2533ms linear infinite;
          animation: coin1-ani 2533ms linear infinite;
}
@-webkit-keyframes coin1-ani {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  19.74% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  22.37% {
    -webkit-transform: translate(0, -0.01rem);
            transform: translate(0, -0.01rem);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes coin1-ani {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  19.74% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  22.37% {
    -webkit-transform: translate(0, -0.01rem);
            transform: translate(0, -0.01rem);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
